.nav-list-item {
  list-style: none;
  padding: 5px;
  overflow: auto;
  font-size: 1.3em;
}

.nav-list-item:last-of-type {
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  border-radius: 5px 0 0 5px;
  display: block;
  padding: 8px;
  transition: 0.15s;
  font-family: "Oswald", sans-serif;
}

.nav-link:hover {
  border-left: 3px solid white;
}

.nav-icon {
}

.nav-active {
  background-color: white;
  color: #941b0c;
  margin-right: -5px;
}
