.note-container {
  flex: 1 1 auto;
  max-width: 380px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: height 2s ease-in-out;
}

.collapsed {
  height: 200px;
}

.note-controls {
  margin-top: auto;
  align-self: flex-end;
  color: lightgrey;
}

.note-controls button {
  margin: 5px;
  background-color: transparent;
  color: inherit;
  border: none;
}

.note-controls button:hover {
  color: #941b0c;
}
